<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>CS 253 Blog</title>
</head>

<body>
  {% if user %}
   <div class = "user-links" align = "right">   
   <h3>{{user.name}}</h3>
   <h3><a href ='/logout'> Logout</a></h3>
   </div>
  {% else %} 
   <div class = "logio-links" align = "right"><a href ='/login'> Login</a></div>
  {% endif %}
  <a href="/blog" class="main-title">
    CS 253 Blog
  </a>

  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>
</html>

