{% extends "base.html" %}

{% block content %}

  {% for p in posts %}
    {{ p.render() | safe }}
	<div class="links-container">
     <span class="comment-cnt"><a href = '/blog/{{p.key().id()}}'>{{p.comments.count()}} comments</a></span>
	 <span class = "likePost"><a href = '/blog/{{p.key().id()}}'>{{p.Likes.count()}} Likes</a></span>
     <span class ="PostCmnt"><a href = '/comment/{{p.key().id()}}'>Post a Comment</a></span>
	 <span class = "likePost"><a href = '/blog/{{p.key().id()}}/likes'>Like Post</a></span>
	 <span class = "updPost"><a href = '/updatepost/{{p.key().id()}}'>UpdatePost </a></span>
	 <span class = "delPost"><a href = '/blog/delete/{{p.key().id()}}'>DeletePost </a></span>
	</div>
	 <br>
	 <br>
	
  {% endfor %}
  <br>
  <br>
  <div class = "hlink" align = "right"><a href = '/unit3/welcome'>Back to Home Page</a> </div>
 
 
{% endblock %}
